.main {
  background-color: white;
  display: flex;
}
.week-table {
  margin-top: 150px;
  background-color: white;
  border-radius: 10px;
}

.prevent-week {
  text-decoration: none;
  color: black;
}

.openModal {
  cursor: pointer;
}

.week-days {
  background-color: #7fcd7a;
}
