.card {
    margin-bottom: 20px;
}
.all-cards {
    box-shadow: 5px 5px 9px 0px;
    background-image: url("./background-recipes.jpg");
}

.card-title{
    color:black;
    letter-spacing: 5px;
    font-family: 'blackboard';
}

a, a:visited, a:hover, a:active {
    color: inherit;
  }

  .btn-details{
      display: flex;
      justify-content: space-between;
  }

