.card {
  margin-bottom: 20px;
  min-height: 10rem;
}
.all-cards {
  box-shadow: 5px 5px 9px 0px;
  background: rgb(255,255,255);
  display: inline-flex;
}

.card-title {
  color: black;
  letter-spacing: 5px;
  font-family: fangsong;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

.btn-details {
  display: flex;
  justify-content: space-between;
}

.text-card-icon {
  display: grid;
  align-items: center;
}

.prevent-card {
  text-decoration: none;
  display: contents;
}

.image-card {
    max-width: 16rem;
    max-height: 12rem;
  align-self: center;
  margin-right: 4%;
  border-radius: 13px;
  box-shadow: 1px 2px 6px;
}

.more-info-cards {
  margin-top: 20%;
  margin-left: auto;
}

@media (max-width: 768px) {
  .image-card {
    align-self: center;
    align-self: unset;
    min-width: 18rem;
    min-height: 13rem;
    box-shadow: 1px 2px 6px;
  }

  .all-cards {
    box-shadow: 5px 5px 9px 0px;
    display: grid;
    background: rgb(255,255,255);
  }
  
  .text-card-icon {
    text-align: center;
    padding-top: 7%;
  }

  .more-info-cards {
    margin-top: 1%;
    margin-left: auto;
  }
}
