.margin {
  margin-top: 40px;
}

.btn-home {
    box-shadow: 2px 1px 4px 0px;
    height: 4rem;
}

.blackboard {
  position: relative;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
  height: 31rem;
  width: 100%;
  max-width: 30rem;
  background-image: url("navbar-vector.jpg");
  background-size: cover;
  box-shadow: 4px 4px 9px;
  border-radius: 29px;
  background: rgba(112, 112, 112, 0.4);
}

.size {
  width: 29rem;
  height: 35rem;
}

.centered {

  color: black;
  font-family: fantasy;
  
  padding: 2rem 0;

}

.about-us-text {
 font-family: auto;
 margin-bottom: 4rem;
}

.home-tittle {
  font-family: "blackboard";
  font-size: 6rem;
}
.about-text {
  font-family: "blackboard";

  color: black;
  letter-spacing: 0.4em;

  
  padding: 2rem 0;

  padding-top:0;
}
.prevent {
  color: white;
  text-decoration: none;
}

.prevent:hover 
{
   color:#22881b; 
   text-decoration:none; 
   cursor:pointer;  
}

.about-text li{
  padding: .5rem 0 ;
}

.about-us-container{
  display: grid;
}

@media (max-width: 768px){

  .btn-home {
      box-shadow: 2px 1px 4px 0px;
      height: 2rem;
  }

  .blackboard{
    height: 21rem;
    margin-top: 2rem;
  }

  .home-tittle {
    font-size: 41px;
  }

  
  .about-us-text {
    font-family: auto;
   font-size: 2rem;
   font-size: 19px;
   margin-bottom: 2rem;
   }
 


}